@model SalonTatuaje.Models.Programare

@{
    ViewBag.Title = "New";
}

<h2 style="text-align: center; margin: 20px; padding: 50px;">Programare Nouă</h2>

<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">


@using (Html.BeginForm(actionName: "New", controllerName: "Programare", method: FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="data" class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="ora" class="form-group">
            @Html.LabelFor(model => model.Ora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sala, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sala, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sala, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tartist", "Artist:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ArtistId, new SelectList(ViewBag.artisti, "Value", "Text"), "Alege un artist", new { @class = "form-control", id = "artist" })
                @Html.ValidationMessageFor(model => model.ArtistId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ProiecteId", "Alege din proiecte:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBox("ProiecteId", new SelectList(Enumerable.Empty<SelectListItem>(), "id", "name"),
                               new { @class = "form-control", @id = "tatuaje" })
                @*@Html.ValidationMessageFor("Proiecte", "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CerinteNoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFilesCerinte" multiple="multiple"/>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("TipuriTatuaje", "Tipurile de tatuaje:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipTatuajeId", (MultiSelectList)ViewBag.tipTatuaje, new { multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.TipuriTatuaje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Creeaza" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Înapoi la listă", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () { //calendar 
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                minDate: -0,
                maxDate: "+5Y"
            });
        });

        $(document).ready(function () {
            $("#artist").change(function () {
                var artId = $("#artist option:selected").val();
                $.getJSON("../Programare/GetAllImagesForArtist", { id: artId },
                    function (data) {
                        var select = $("#tatuaje");
                        select.empty();
                        @*select.append($('<option/>', {
                            value: 0,
                            text: "Alege tatuajele"
                        }));*@
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Id,
                                text: itemData.Nume
                            }));
                        });
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("error " + textStatus);
                        console.log("incoming Text " + jqXHR.responseText);
                    });
            });
        });
    </script>

}
